.square {
    height: 30px;
    width: 30px;
    margin-right: -1px;
    margin-top: -3px;
    border: 1px solid black;
    background-color: white;
}

.square:hover {
    background-color: darkgray;
}

.shaded {
    background-color: lightgray;
}

.shaded:hover {
    background-color: gray;
}