.square {
    height: 30px;
    width: 30px;
    margin-right: -1px;
    margin-top: -3px;
    border: 1px solid black;
    background-color: white;
    color: white;
    transition: color .5s;
    float: left;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.shaded {
    background-color: lightgray;
    color: lightgray;
}

.square:focus {
    outline: none;
}

.square:hover {
    background-color: darkgray;
    color: darkgray;
}

.adjMines0,
.adjMines0:hover { 
    color: black;
}

.adjMines1,
.adjMines1:hover {
    color: blue;
}

.adjMines2,
.adjMines2:hover {
    color: green;
}

.adjMines3,
.adjMines3:hover {
    color: red;
}

.adjMines4,
.adjMines4:hover {
    color: darkblue;
}

.adjMines5,
.adjMines5:hover {
    color: darkred;
}

.mine,
.mine:hover {
    color: black;
    font-size: 40px;
    background-color: red;
}

.flagged,
.flagged:hover {
    color: red
}